# {{ ansible_managed }}

# The configuration you want to run
WILDFLY_CONFIG={{ wildfly_conf_file }}

# The mode you want to run
WILDFLY_MODE={{ wildFly_mode }}

# The address to bind to
WILDFLY_BIND={{ wildfly_bind }}

# The address to bind management to
WILDFLY_BIND_MANAGEMENT={{ wildfly_bind_management }}

# The offset to use to change the default port of wildfly (default: 0)
WILDFLY_PORT_OFFSET={{ wildFly_port_offset }}
